body{
	background: linear-gradient(to right,rgb(51, 73, 162),rgb(133, 80, 128)); 
}
h1{
	
	font-family: 'Luckiest Guy', cursive;
}
p{
	font-family: 'Fredoka One', cursive;
		font-size: 2.2em;
}
label{
	color: white;
	font-family: 'Poppins', cursive;
}
.title{
   
	text-align: center;
	-webkit-animation: title 2s  ;
   
    

	
	   
}

.title:hover{
    transition-duration: 15s;
    transform: rotate(8640deg)  ;
}
.parrafos{
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr ;
	/*border-top: 1px solid black;*/
   
	
}


.aligntable{
	align-content: center;
}

.bgtitlet{
   
  
}

.border{
	border-radius: 5px; 
	border: 15px solid black;
}

.hr{
	color: black;
	width: 85%;
}

.parrafounico{

 text-align: center;
  

}
.divtitle{
	text-align: center;
}
.respaldo{
display: grid;
grid-template-columns: 1fr;

}
@-webkit-keyframes title {



0%{
    margin: 0;
}


50%{
	
	margin-top:  150px;
}
100%{
	margin: 0px;
}

}