body{
	background: linear-gradient(to right,rgb(51, 73, 162),rgb(133, 80, 128)); 
}
h1{
	font-family: 'Luckiest Guy', cursive;
}
p{
	font-family: 'Fredoka One', cursive;
		font-size: 2em;
}
label{
	font-family: 'Poppins', cursive;
}
.title{
   
	text-align: center;
	-webkit-animation: title 5s ;
	
	   
}


.parrafos{
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr ;
	/*border-top: 1px solid black;*/
   
	
}


.aligntable{
	align-content: center;
}

.bgtitle{

  
}

.border{
	border-radius: 5px; 
	border: 15px solid black;
}

.hr{
	color: black;
	width: 85%;
}

.parrafounico{

 text-align: center;

}
@-webkit-keyframes title {
0%{
	margin-left: 0px;
}
25%{
	margin-left: 550px;
}
50%{
	margin-left: 1100px;
}
75%{
	margin-left: 550px;
}
100%{
	margin-left: 0px;
}

}